#EnterprisePageTotalDiv {
	width: 100%;
	display: flex;
	flex-direction: row;
}
#leftBox {
	width: 50%;
	padding: 12% 0% 0% 15%;
}
#leftBox h1 {
	font-weight: 900;
	font-size: 50px;
}
#rightBox {
	width: 50%;
	padding: 10% 5% 0% 4%;
}

.leftTextBox {
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: 6;
}
.leftTextBox h1 {
	font-size: 60px;
	font-weight: 900;
	margin-bottom: 15px;
}
.leftTextBox p {
	margin-top: 20px;

	font-size: 20px;
	font-weight: 900;
	/* color: rgb(36, 36, 36); */
}
.leftTextBoxImageBox {
	width: 100%;
	padding-top: 50px;
	position: relative;
}
.leftTextBoxImageBox .img1 {
	width: 300px;
	position: absolute;
	/* top: 200; */
	z-index: 2;
	animation: fadeInUp 0.5s ease;
	animation-fill-mode: forwards;
}
.leftTextBoxImageBox .img2 {
	width: 300px;
	position: absolute;
	/* top: 200; */
	z-index: 3;
	animation: fadeInUp 1s ease;
	animation-fill-mode: forwards;
}
.leftTextBoxImageBox .img3 {
	width: 300px;
	position: absolute;
	z-index: 4;
	animation: fadeInUp 1.5s ease;
	animation-fill-mode: forwards;
}
.leftTextBoxImageBox .img4 {
	width: 300px;
	position: absolute;
	z-index: 5;
	animation: fadeInUp 2s ease;
	animation-fill-mode: forwards;
}
.leftTextBoxImageBox .img5 {
	width: 300px;
	position: absolute;
	z-index: 5;
	animation: fadeInUp 2s ease;
	animation-fill-mode: forwards;
}
.leftTextBoxImageBox .img6 {
	width: 300px;
	position: absolute;
	z-index: 5;
	animation: fadeInUp 2.5s ease;
	animation-fill-mode: forwards;
}
.leftTextBoxImageBox .img7 {
	width: 300px;
	position: absolute;
	z-index: 5;
	animation: fadeInUp 3s ease;
	animation-fill-mode: forwards;
}
@keyframes fadeInUp {
	from {
		transform: translateY(10%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

.oneBox {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.oneBox p {
	/* width: 100%; */
	margin-bottom: 13px;
	font-size: 18px;
	/* margin-bottom: 10px; */
	font-weight: 900;
	/* color: rgb(36, 36, 36); */
}
.oneBox input {
	/* margin-bottom: 10px; */
	width: 400px;
	height: 30px;
	border-radius: 20px;
	border: 1px gray solid;
	box-sizing: border-box;
	padding-left: 20px;
}

#oneBoxName_p {
	/* width: 150px; */
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 900;
	/* color: rgb(36, 36, 36); */
}
#oneBoxName_input {
	width: 190px;
	border-radius: 20px;
	box-sizing: border-box;
}
#oneBoxselect {
	width: 400px;
	height: 40px;
	border-radius: 20px;
	padding-left: 20px;
}
#oneBoxtextarea {
	width: 400px;
	height: 100px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
}
#submitDescription {
	margin-top: 10px;
}
#submitBtn {
	margin-top: 30px;
	margin-bottom: 40px;

	width: 120px;
	height: 30px;

	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #203864;
	border-radius: 30px;

	border: 0;
	color: white;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

#submitBtn:hover {
	background: #6c7c97;
	font-weight: bolder;
}
#submitBtn:focus {
	background: gray;
	color: black;
	font-weight: bolder;
}
