.FirstPageContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-y: scroll;
}
.ContentBox1 {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 20% 15% 0% 15%;
	box-sizing: border-box;
}
.TextBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 80%;
	z-index: 4;
}
.TextBox h1 {
	font-size: 4.5vw;
	font-weight: 900;
	margin-bottom: 30px;
	letter-spacing: 4px;
}
.TextBox p {
	font-size: 1.3vw;
	margin-bottom: 10px;
	font-weight: 500;
}
.TextBox button {
	background: #203864;
	color: white;
	width: 250px;
	height: 40px;
	margin-top: 20px;
	border-radius: 20px;
}

.MovePortPolioBtn {
	cursor: pointer;
	font-weight: bold;
}
.MovePortPolioBtn:hover {
	background: #dfdfdf;
	color: black;
}
.MovePortPolioBtn img {
	width: 25px;
	padding: 0px 0px 3px 5px;
}

.imageBox {
	display: flex;
	color: black;
	width: 20%;

	margin-left: -200px;
	margin-top: -100px;
	position: relative;
	z-index: 1;
}
.imageBox .one {
	width: 400px;
	position: absolute;
	top: 0;
	z-index: 2;
	animation: fadeInUp 0.5s ease;
	animation-fill-mode: forwards;
}
.imageBox .two {
	width: 400px;
	position: absolute;
	top: 0;
	z-index: 3;
	animation: fadeInUp 1s ease;
	animation-fill-mode: forwards;
}
.imageBox .three {
	width: 400px;
	position: absolute;
	top: 0;
	z-index: 4;
	animation: fadeInUp 2s ease;
	animation-fill-mode: forwards;
}
@keyframes fadeInUp {
	from {
		transform: translateY(10%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.down_iconBox {
	display: flex;
	justify-content: center;
	opacity: 1;
	height: 200px;
	padding-top: 100px;
	/* padding-bottom: 100px; */
}
.down_arrow_icon {
	width: 2vw;
	padding-top: 70px;
	filter: black;
	/* position: relative; */
	animation: fadeInDown 2s infinite;
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -50%, 0);
	}
	to {
		opacity: 1;
		transform: translateZ(0);
	}
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.contentBox2 {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 15% 0% 0% 0%;
	align-items: center;
	box-sizing: border-box;
}
.contentBox2 .contentBox2Text {
	display: flex;
	align-items: center;
	flex-direction: column;
	opacity: 1;
	width: 100%;
}
.contentBox2Text h1 {
	font-size: 65px;
	font-weight: 900;
	margin-bottom: 20px;
}
.contentBox2Text h2 {
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: bolder;
}
.contentBox2Text h3 {
	font-size: 15px;
}
.contentBox2 img {
	align-items: center;
	display: flex;
}
.contentBox2 .contentBox2Img {
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	position: relative;
	/* relative	: 자기 자신을 기준으로 배치 */

	z-index: 1;
}

.contentBox2Img .one {
	width: 400px;
	top: 0;
	/* position: absolute; */
	/* absolute	: 부모(조상) 요소를 기준으로 배치 */

	z-index: 2;
}
.contentBox2Img .two {
	width: 400px;
	position: absolute;
	/* absolute	: 부모(조상) 요소를 기준으로 배치 */

	top: 0;
	z-index: 3;
}
.contentBox2Img .three {
	width: 400px;
	position: absolute;
	top: 0;
	z-index: 4;
}
.contentBox2Img .four {
	width: 400px;
	position: absolute;
	top: 0;
	z-index: 5;
}
.contentBox2Img .five {
	width: 400px;
	position: absolute;
	top: 0;
	z-index: 6;
}

.reveal {
	position: relative;
	transform: translateY(50px);
	opacity: 0;
	transition: 1s all ease;
}
.reveal1 {
	position: relative;
	transform: translateY(50px);
	opacity: 0;
	transition: 1.3s all ease;
}
.reveal2 {
	position: relative;
	transform: translateY(50px);
	opacity: 0;
	transition: 1.5s all ease;
}
.reveal.active {
	transform: translateY(0);
	opacity: 1;
}
.reveal1.active {
	transform: translateY(0);
	opacity: 1;
}
.reveal2.active {
	transform: translateY(0);
	opacity: 1;
}

.reveal3.active > .one {
	animation: fadeInUpImg 1s ease;
	animation-fill-mode: forwards;
}
.reveal3.active > .two {
	animation: fadeInUpImg 1.3s ease;
	animation-fill-mode: forwards;
}
.reveal3.active > .three {
	animation: fadeInUpImg 1.6s ease;
	animation-fill-mode: forwards;
}
.reveal3.active > .four {
	animation: fadeInUpImg 1.9s ease;
	animation-fill-mode: forwards;
}
.reveal3.active > .five {
	animation: fadeInUpImg 2.2s ease;
	animation-fill-mode: forwards;
}

@keyframes fadeInUpImg {
	from {
		transform: translateY(20%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}
