.FooterDiv {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 300px;
	box-sizing: border-box;
	background-color: #203864;
	color: white;
}
.FooterHomeLogo {
	padding: 50px;
	border: none;
	display: flex;
	justify-content: center;
	background-color: transparent;
	/* align-items: center; */
}
.FooterHomeLogo img {
	width: 100px;
	height: 30px;

	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(62deg) brightness(103%) contrast(105%);
}
.FooterFirstBox {
	width: 100px;
	height: 100%;
}
.FooterCategory {
	display: flex;
	background-color: transparent;

	flex-direction: row;
	padding-top: 50px;
	width: 80%;
	justify-content: space-around;
}

.FooterCategory div {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	width: 250px;
	padding-left: 5%;
}
.FooterCategory div h1 {
	width: 100%;
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: bolder;
	color: white;
}
.FooterCategory div ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	color: white;
}
.FooterCategory div li {
	width: 100%;
	text-align: left;
	margin-top: 10px;
	font-size: 15px;
	cursor: pointer;
}
