.IntroducePageDiv {
	width: 100%;
	height: 100%;
	padding-top: 5%;
}
.IntroducePageDivContent1 {
	/* background-color: white; */
	width: 100%;
	padding: 5% 15% 3% 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.IntroducePageDivContent1 h1 {
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 50px;
}
.IntroducePageDivContent1_Box {
	display: flex;
	width: 100%;
	padding-top: 30px;
	flex-direction: row;
}
.IntroducePageDivContent1_Box1 {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* padding: 5% 0% 10% 10%; */
}
.IntroducePageDivContent1_Box1 img {
	width: 200px;
}
.IntroducePageDivContent1_Box1 p {
	width: 500px;
	font-size: 30px;
	margin: 20px 0px 0px 0px;
	font-weight: 900;
}
.IntroducePageDivContent1_Box2 {
	width: 60%;
	display: flex;
	flex-direction: column;
	/* margin-top: 30px; */
	font-weight: 500;
	line-height: 30px;
}

.DivideBoxDot {
	width: 100%;
	font-size: 30px;
	letter-spacing: 5px;
	display: flex;
	justify-content: center;
	font-weight: 900;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.IntroducePageDivContent2 {
	padding: 5% 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.IntroducePageDivContent2_Box1 {
	width: 100%;
	background-color: #d5dbe6;
	border-radius: 20px;
	padding: 50px;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.IntroducePageDivContent2_Box1_title {
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 30px;
}
.IntroducePageDivContent2_Box1_title span {
	font-size: 20px;
	font-weight: 900;
	margin: 0px 5px;
}
.IntroducePageDivContent2_Box1_content {
	font-weight: 600;
	line-height: 30px;
}
.IntroducePageDivContent2 h1 {
	font-weight: 900;
	font-size: 50px;
	margin: 20px 0px 20px 0px;
}
.IntroducePageDivContent2 img {
	width: 1000px;
}

.IntroducePageDivContent3 {
	padding: 5% 0% 15% 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.IntroducePageDivContent3 h1 {
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 50px;
}
.IntroducePageDivContent3 img {
	margin-top: 30px;
	margin-bottom: 50px;
	width: 900px;
}

.IntroducePageDivContent4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}
.IntroducePageDivContent4_Box1_title {
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 30px;
}
.IntroducePageDivContent4_Box1_content1 {
	padding: 1% 15%;
	font-weight: 600;
	line-height: 30px;
	word-spacing: 5px;
	font-size: 23px;
}
.IntroducePageDivContent4_Box1_content2 {
	padding: 1% 20%;
	line-height: 20px;
	font-weight: 600;
	/* word-spacing: 5px; */
	font-size: 18px;
}
.IntroducePageDivContent4_Box1_content3 {
	padding: 1% 23% 10% 23%;
	line-height: 20px;
	font-weight: 600;
	/* word-spacing: 5px; */
	font-size: 18px;
}
.IntroducePageDivContent4 img {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 15px;

	width: 700px;
}

.IntroducePageDivContent5 {
	padding: 5% 15% 10% 15%;
}
.IntroducePageDivContent5 h1 {
	font-size: 40px;
	font-weight: 900;
}
.IntroducePageDivContent5_Box1 {
	display: flex;
	flex-direction: row;
}
.IntroducePageDivContent5_Box1 img {
	width: 250px;
}
.IntroducePageDivContent5_Box1_content {
	line-height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.IntroducePageDivContent5_Box1_content p {
	margin-top: 10px;
	font-size: 18px;
	font-weight: 900;
}
.IntroducePageDivContent5_Box1_h1 {
	margin-top: 100px;
}
.IntroducePageDivContent5Img2 {
	padding-left: 10%;
}

.Interview1 {
	width: 700px;
	margin-bottom: 50px;
}
.Interview2 {
	width: 700px;
	margin-bottom: 50px;
}
.Interview3 {
	width: 700px;
	margin-bottom: 50px;
}
.IntroducePage_scenario1 {
	width: 500px;
	margin-bottom: 50px;
}
.IntroducePage_scenario2 {
	width: 500px;
	margin-bottom: 50px;
}
.IntroducePage_scenario3 {
	width: 500px;
	margin-bottom: 50px;
}
.BlockChain1 {
	width: 700px;
	background-color: white;
}

.IntroducePageDivContent6 {
	padding: 5% 0% 10% 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.IntroducePageDivContent6 {
	padding: 5% 0% 15% 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.IntroducePageDivContent6 h1 {
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 50px;
}
.IntroducePageDivContent6 img {
	margin-top: 30px;
	margin-bottom: 50px;
	width: 900px;
}

.IntroducePageDivContent3_SchoolAndCompany {
	/* height: 300px; */
	flex-direction: row;
	display: flex;
	justify-content: space-between;
}

.SchoolAndCompany_p1 {
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.SchoolAndCompany_p1 img {
	width: 300px;
}
.SchoolAndCompany_p1 h1 {
	font-size: 30px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.SchoolAndCompany_p1 div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.SchoolAndCompany_p2 {
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.SchoolAndCompany_p2 img {
	width: 300px;
}
.SchoolAndCompany_p2 h1 {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.SchoolAndCompany_p2 div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.SchoolAndCompany_p3 {
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.SchoolAndCompany_p3 img {
	width: 300px;
}
.SchoolAndCompany_p3 h1 {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.SchoolAndCompany_p3 div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.SchoolAndCompany_div {
	display: flex;
	flex-direction: column;
	line-height: 30px;
}

.IntroducePageDivContent7 {
	padding: 5% 0% 5% 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.IntroducePageDivContent7 img {
	margin-top: 30px;
	margin-bottom: 50px;
	width: 900px;
}
