/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* TaskCard */

.OriginDataBox {
	box-sizing: border-box;
	background-color: #eceff5;
	width: 100%;
	padding-top: 10px;
}
.OriginDataContent {
	display: flex;
	width: 100%;
	/* border-radius: 10px; */
	background-color: #eceff5;
}
.OriginDataContent p {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #d2d8e2;
	margin: 0px 10px 0px 10px;
	width: 100%;
	height: 30px;
	border: none;
	border-radius: 10px;
	font-size: 13px;
	font-weight: 900;
}
.OriginDataContent p:hover {
	color: white;
	background: #203864;
}
.PortItem {
	width: 30%;
	height: 70px;
	padding: 5px;
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: #ebeff4;

	border-radius: 20px;
}
.PortItem button {
	cursor: pointer;
	border: none;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* RawDataComponent */

.DataBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 5px;
	margin-top: 10px;
	border-radius: 10px;
	background-color: #eceff5;
	box-sizing: border-box;
}
.DataBoxh1 {
	font-size: 18px;
	font-weight: 900;
	padding: 10px;
}
.ColumnTitle1 {
	font-size: 25px;
	font-weight: 900;
	/* margin-bottom: 10px; */
	padding-top: 30px;
	padding-bottom: 10px;
}
.ColumnTitleBox {
	font-size: 13px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* PortPolioComponent */
.DataBoxContent {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.DataBox2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px 20px 20px 30px;
}
.DataBoxh2 {
	font-size: 18px;
	font-weight: 900;
	padding: 10px;
}
/*  */
.Portpolio {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 20px 20px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ColumnTitle2 {
	font-size: 25px;
	font-weight: 900;
	padding: 20px;
	margin-bottom: 10px;
}
.ColumnTitle2 button {
	margin-left: 30px;
}
.TitleBox {
	display: flex;
	align-content: center;
	margin-top: 30px;
	margin-bottom: 20px;
}
.TitleBox h1 {
	font-weight: 900;
	margin-left: 45px;
	font-size: 18px;
}
.IntroduceContentBox {
	display: flex;
	margin: 0px 0px 20px 60px;
}
.IntroduceContentBox p {
	margin-right: 20px;
	margin-top: 10px;
	font-weight: 700;
	font-size: 15px;
}
.IntroduceContentBox input {
	width: 250px;
	margin-top: 5px;

	height: 20px;
	background: #e9e9e9;
	border: none;
	border-radius: 20px;
	padding-left: 15px;
}
.IntroduceText {
	width: 90%;
	height: 180px;
	margin: 0px 50px 0px 50px;
	padding: 20px;
	box-sizing: border-box;
	border: solid 1px gray;
	border-radius: 5px;
	font-size: 14px;
	resize: none;
}
.lengthOfContent_P {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 95%;
	margin-top: 10px;
}
.AddQuestionBtn {
	cursor: pointer;
	margin-right: 20px;
	border: none;
	background: #d8dce4;
	border-radius: 15px;
	width: 100px;
	height: 30px;
	margin-left: 50px;
}
.AddQuestionBtn:hover {
	background: #203864;
	color: white;
}

/*  */

.SubmitBox {
	display: flex;
	width: 100%;
	/* justify-content: flex-start; */
	padding: 10% 10% 10% 33%;
}
.SubmitBoxBtn {
	cursor: pointer;
	margin-right: 30px;
	border: none;
	background: #203864;
	border-radius: 30px;
	width: 135px;
	height: 35px;
	font-size: 15px;
	font-weight: 500;
	color: white;
}
.SubmitBoxBtn:hover {
	color: black;
	background: #d8dce4;
}
