.Container {
	display: flex;
	flex-direction: column;
	margin: 0% 5% 0% 5%;
	padding-top: 70px;
	/* height: 100%; */
	box-sizing: content-box;
}

.DragDropBtnBox {
	display: flex;
	padding: 2% 0% 0% 21%;
	margin-right: 20px;
	justify-content: flex-start;
	align-items: center;
	/* height: 7%; */
	box-sizing: border-box;
	border-top: black solid 2px;
}

.DragDropContentBox {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80%;
	box-sizing: border-box;
}

.RawDataBox {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 100%;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: -30px;
}

.PortPolioBox {
	width: 80%;
	height: 75vh;
	border: solid black 1px;
	box-sizing: content-box;
	margin: 20px;
	border-radius: 10px;
	padding: 3px;
}

.PortBtn {
	font-size: 12px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	width: 130px;
	height: 25px;
	border-radius: 20px;
	color: white;
	font-weight: 700;
	cursor: pointer;
}

.PlusBtn {
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: #9fa9bc;
	width: 25px;
	height: 25px;
	border-radius: 20px;
	color: white;
	font-weight: 700;
	cursor: pointer;
}
