/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 전체 시나리오 및 시스템 구성도 */
/* Server Side */
.IntroduceDetailPage_BigBox {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-top: 60px;
	align-items: center;
	justify-content: center;
}
.IntroduceDetailPage_ContentBox {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	border-bottom: 2px black solid;
	border-top: 2px black solid;

	scroll-snap-type: x mandatory;
}
.IntroduceDetailPage_ContentBox::-webkit-scrollbar {
	display: none;
}
.IntroduceDetailPage_ContentA {
	padding: 20px 0px 20px 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.IntroduceDetailPage_BigBox_ContentA {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 100px;
}

.IntroduceDetailPage_BigBox_ContentA p {
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 50px;
}
.IntroduceDetailPage_ContentA p {
	font-size: 20px;
	padding-bottom: 20px;
	font-weight: 700;
}
#docker_version_img {
	height: 200px;
}
.IntroduceDetailPage_ContentA img {
	padding: 5px 50px 5px 50px;
	scroll-snap-align: center;
	height: 350px;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 블록체인 */
.IntroduceDetailPage_BlockChain {
	flex-direction: row;
	display: flex;
	justify-content: space-between;
}
.IntroduceDetailPage_BlockChain_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;
}
.IntroduceDetailPage_BlockChain_box h1 {
	font-size: 20px;
	font-weight: 900;
	margin-top: 30px;
}
.BlockChain_Image0 {
	width: 470px;
	padding-right: 30px;
}
.BlockChain_Image1 {
	width: 600px;
}
.BlockChain_Image2 {
	width: 850px;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Front */
.IntroduceDetailPage_Front {
	flex-direction: row;
	display: flex;
	justify-content: space-between;
}
.IntroduceDetailPage_Front_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;
}
.IntroduceDetailPage_Front_box h1 {
	font-size: 20px;
	font-weight: 900;
	margin-top: 30px;
}
.Front_Image0 {
	width: 400px;
	padding-right: 30px;
}
.Front_Image1 {
	width: 670px;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.right_iconBox {
	display: flex;
	opacity: 1;
	border: 3px border solid;
}
.right__arrow_icon {
	padding: 200px 100px 0px 100px;
	width: 3.5vw;
	height: 60px;
	filter: black;
	animation: fadeInRight 2s infinite;
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(-30%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translateX(20%);
	}
}
